body{
    background: radial-gradient(yellow, rgb(133, 232, 47));
    margin: 0;
    width: 100%;
}
#h1{
    text-align: center;
}

#target-div > #card {
    margin: auto;
    background-color: rgba(255, 255, 255, 50%);
    width: 30%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    
}
#card-h3{
    color: black;
    opacity: 100%;
    padding-top: 1rem;
    text-align: center;

}

