body{
    width: 100vw;
    height: 100vh;
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
}
h1, h2, h3{
    text-align: center;
    color:cadetblue;
    -webkit-text-stroke-width: 0.5px; /* A szegély vastagsága */
    -webkit-text-stroke-color: rgb(0, 0, 0); /* A szegély színe */
}
#input-div, #delete{
    justify-self: center;
    text-align: center;
    
}

#input-div button{
    margin-top: 1rem;
}
#delete button{
    margin-top: 1rem;
}
#cat-cards, #cards{
    display: flex;
    flex-direction: column; /* Ez kényszeríti az elemeket egymás alá */
    align-items: center;    /* Középre igazítja őket vízszintesen */
    gap: 20px;
    text-align: center;
}
