:root{
    --bg-color: rgb(144, 189, 216);
    --game-bg-color: rgb(1, 252, 43);
    --game-bg-color-hovered: rgb(136, 216, 149);
    --text-color: white
    --fs-sm: 1rem;
    --fs-md: 1.5rem;
    --fs-lg: 2rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: var(--gap-md);
    background-color: var(--bg-color);
}
#search-div{
    width: 100%;
    padding: var(--gap-md);
    display: flex;
    flex-flow: row nowrap;
    gap: var()

}
#game-modal > div{
    width: 100%;
}
#game-modal div:first-child{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
#game-modal div:first-child > button{
    background: transparent;
    color: gray;
    font-size: var(--fs-md);
    padding: var(--gap-sm);
    margin-top: var(--gap-sm);
    margin-right: var(--gap-sm);
}
#game-modal div:first-child > button:hover{
    color: red;
    font-weight: bold;
}

#game-modal div:last-child{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-md);
}
#game-modal > div:last-child > h1{
    font-size: calc(var(--fs-lg) * 1.5);
}
#game-modal > div:last-child > h1{
    font-size: var(--fs-lg);
}
.current-game-table{
    width: 80%;
    border-collapse: collapse;
}
.current-game-table tr{
    height: var(--fs-lg);
}
.current-game-table td, .current-game-table th{
    border: 2px solid var(--text-color);
    text-align: center;
}