body{
    background-color: rgb(250, 93, 93);
    color: white;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
#numbers{
    background-color: blanchedalmond;
    background-color: blanchedalmond;
    border: 3px solid rgb(190, 140, 140);
    display: inline;  
    margin-left: 4.4rem;
    margin-right: 4.4rem;
    padding: 5px;
    text-align: center;
}
.modifications button{
  background-color: blanchedalmond;
  border: 3px solid rgb(190, 140, 140);
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 10rem;
  margin-bottom: 1rem;
}
.actual button{
  background-color: blanchedalmond;
  border: 3px solid rgb(190, 140, 140);
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  margin-bottom: 1rem;
}
.results{
    justify-content: center;
}

