:root {
    --datas-and-body-background: rgba(245, 245, 220, 0.888);
    --red-background: #FF0000;
    --green-background: #00FF00;
    --blue-background: #0000FF;
    --yellow-background: #FFFF00;
    --cyan-background: #00FFFF;
    --magenta-background: #FF00FF;
    --white-background: #FFFFFF;
    --gray-background: #808080;
    --orange-background: #FFA500;
    --purple-background: #800080;
    --pink-background: #FFC0CB;
    --brown-background: #A52A2A;
    --lime-background: #00FF00;
    --navy-background: #000080;
    --teal-background: #008080;
    --olive-background: #808000;
    --maroon-background: #800000;
    --gold-background: #FFD700;
    --silver-background: #C0C0C0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--datas-and-body-background);
}

h1 {
    text-align: center;
}

.datas {
    background-color: var(--datas-and-body-background);
    width: 90%;
    margin: auto;
}

#Red {
    background-color: var(--red-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}

#Green {
    background-color: var(--green-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}

#Blue {
    background-color: var(--blue-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}

#Yellow {
    background-color: var(--yellow-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Cyan {
    background-color: var(--cyan-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Magenta {
    background-color: var(--magenta-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#White {
    background-color: var(--white-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Gray {
    background-color: var(--gray-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Orange {
    background-color: var(--orange-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Purple {
    background-color: var(--purple-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Pink {
    background-color: var(--pink-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Brown {
    background-color: var(--brown-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Lime {
    background-color: var(--lime-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Navy {
    background-color: var(--navy-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Teal {
    background-color: var(--teal-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Olive {
    background-color: var(--olive-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Maroon {
    background-color: var(--maroon-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Gold {
    background-color: var(--gold-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}
#Silver {
    background-color: var(--silver-background);
    width: 50%;
    margin: auto;
    border: black 1px solid;
    margin-bottom: 2rem;
}


.h4 {
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-top: 0.5rem;
}

.hex {
    text-align: center;
    font-style: italic;
}

#buttonDislike,
#buttonLike {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    background-color: var(--datas-and-body-background);
}
.numberOfLikesP, .numberOfdislikesP{
    text-align: center;
    margin-top: 0.2rem;
}
.h6{
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0.5rem;
}
.likeVsDislike{
    text-align: center;
    padding-bottom: 0.5rem;
}


